{% block content %}
<dt class="data-title data-title-childhood noSelect">
  <a class="remove-link-decoration link-element">
    <h2 class="about-description-title">Childhood</h2>
  </a>
</dt>
<dd id="title-childhood-description" class="dl-dd">
  <span class="indentation"></span> Starting from my childhood days, being a
  school student, I have had a strong aptitude for science subjects with a
  constant urge to experiment and try out new things. I burnt the midnight oil
  to prove my mettle with successful results.
</dd>
{% endblock content %}
