{% block content %}
<dt class="data-title data-title-areas-of-interest noSelect">
  <a class="remove-link-decoration link-element">
    <h2 class="about-description-title">
      Areas of Interest
    </h2>
  </a>
</dt>
<dd id="title-area-interest-description" class="dl-dd">
  <span class="indentation"></span> After graduating from undergraduate I did
  some self-study to enhance my programming skills.<br />
  I want to use those skills to innovate the Computer Science area,
  precisely:<br /><br />
  <div class="interest-areas-section">
    <ul class="interest-areas">
      <li>
        <span class="interest-areas-item">Internet of Things </span>
      </li>
      <li>
        <span class="interest-areas-item">Artificial Intelligence </span>
      </li>
      <li>
        <span class="interest-areas-item">Data Engineering </span>
      </li>
      <li>
        <span class="interest-areas-item">App and Web Development </span>
      </li>
    </ul>
  </div>
</dd>

{% endblock content %}
