{% extends 'GoForHolidayApp/base.html' %} {% block content %}
<div id="contentAddNewPlace" class="container-fluid my-content">
  <h2
    class="text-uppercase bg-success text-white d-flex justify-content-center p-2"
  >
    Awesome Places Over The World!!
  </h2>
  <div class="d-flex justify-content-center">
    <p
      class="text-capitalize w-50 font-italic font-weight-bold d-flex justify-content-center bg-danger text-white p-2"
    >
      Add A Fabulous Place
    </p>
  </div>

  {% include 'GoForHolidayApp/addPlaceForm.html' %}
</div>
{% endblock content %}

<!--
<div id="content" style="position:absolute; top:200px; bottom:200px; left:0px; right:0px; overflow:auto;"> 

-->
