<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- prettier-ignore -->
    {% include 'GoForHolidayApp/css.html' %}
    {% load static %}

    <title></title>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% include 'GoForHolidayApp/nav.html' %} 
    {% block content %}{% endblock content %}
    {% include 'GoForHolidayApp/footer.html'%}
    {% include 'GoForHolidayApp/js.html' %}
  </body>
</html>
