{% block content %}
<div id="wrapper-place-name" class="modal-body row">
  <div id="addPlaceNameCol1" class="col-md-6">
    <label for="place-name">Place Name</label>
    <input
      type="text"
      class="form-control"
      id="place-name"
      value="Taipei"
      name="place-name"
      required
    />
  </div>
  <div id="addPlaceNameCol2" class="col-md-6">
    <label for="place-country">Country Name</label>
    <input
      type="text"
      class="form-control"
      id="place-country"
      value="Taiwan"
      name="place-country"
      required
    />
  </div>
</div>

{% endblock content %}
