{% block content %}

<div id="wrapper-travel-time" class="modal-body row">
  <div id="travel-time-Col1" class="col-md-6">
    <label for="time-arrival">Arrival Time</label>
    <input
      type="text"
      class="form-control is-valid"
      id="time-arrival"
      value="15/02/2020"
      name="time-arrival"
      required
    />
  </div>
  <div id="travel-time-Col2" class="col-md-6">
    <label for="time_departure">Departure Time</label>
    <input
      type="text"
      class="form-control is-valid"
      id="time-departure"
      value="15/02/2020"
      name="time-departure"
      required
    />
  </div>
</div>

{% endblock content %}
