{% block content %} {% load static %}

<script
  type="text/javascript"
  src="{% static 'GoForHolidayApp/js/jquery.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'GoForHolidayApp/js/GoForHolidayApp.js' %}"
></script>

<script
  type="text/javascript"
  src="{% static 'GoForHolidayApp/js/bootstrap.min.js' %}"
></script>

<script
  type="text/javascript"
  src="{% static 'GoForHolidayApp/js/bootstrap.bundle.min.js' %}"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
{% endblock content %}
