{% block content %}
<ul id="ul-navbar" class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
  <li class="nav-item text-center noSelect">
    <a id="home" class="nav-link text-bold" " draggable="false" href="/">Favorite Places</a>
  </li>
  <li class="nav-item text-center">
    <a id="add" class="nav-link text-bold noSelect" " draggable="false" href="/addplace">Add New Place</a>
  </li>
  <li class="nav-item text-center">
    <a id="about" class="nav-link text-bold noSelect" " draggable="false" href="/about">About</a>
  </li>
  <li class="nav-item text-center">
    <a id="contact" class="nav-link text-bold noSelect" " draggable="false" href="/contact">Contact</a>
  </li>
</ul>
{% endblock content %}
